<!DOCTYPE html>
<html>

<head>
   <title>Scoped Tokens for Admins</title>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
   <div align=center>
      <div style="width:600px" align=left>

         <h1>Scoped Tokens for Admins</h1>

         <p>Oups, the OAuth flow can not complete due to the error below:<br/> 
            <br/>
            <b><%= error %></b>
         </p>
      </div>
   </div>
</body>

</html>