<!DOCTYPE html>
<html>

<head>
   <title>Scoped Tokens for Admins</title>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
   <div align=center>
      <div style="width:600px" align=left>

         <h1>Scoped Tokens for Admins (static)</h1>

         <p>This utility tool helps generate OAuth scoped tokens.</p>

         <p>Click below to initiate the OAuth flow:<br/>
            <br/>
            &nbsp;&nbsp;&nbsp;

            <input type="button" value="Start OAuth flow" onclick="location.href='<%= link %>';" />

         </p>

         <br/>
         <% if (local) { %>
            <p><b>Note: this utility is intended for development & testing purposes, and redirects to http://localhost:8080.<br/>
               Production applications should use HTTPS for OAuth redirects.</b></p>
         <% } %>

         <p><i>Brought to you by DevNet - <a href="https://developer.cisco.com">Cisco's Developer Program</a>, check the code: <a href="https://github.com/ObjectIsAdvantag/webex-integration-admin">webex-integration-admin git repo</a></i>   

      </div>
   </div>
</body>

</html>