<!DOCTYPE html>
<html>

<head>
   <title>Scoped Tokens for Admins</title>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body id="body" initiateURL=<%= link %>>

   <script>
      function start() {
         // Extract checked scopes
         let scopes = document.getElementsByName('scopes[]');
         let scopeParameter = '';
         for (var i = 0; i < scopes.length; i++) {
            if (scopes[i].checked) {
               scopeParameter += scopes[i].value + " "
            }
         }
         // No scope selected
         if (scopeParameter.length == 0) {
            console.log('Please select one 1+ scopes');
            // Show error message
            document.getElementById('feedback').innerHTML = 'No scope selected';
            document.getElementById('error').style.visibility = 'visible';
            return;
         }

         // Erase help message
         document.getElementById('feedback').innerHTML = '';
         document.getElementById('error').style.visibility = 'none';
         let encodedScopes = encodeURIComponent(scopeParameter.slice(0, -1));
         let initateUrl = document.getElementById("body").getAttribute("initiateURL");
         let initiateFlowURL = initateUrl + "&scope=" + encodedScopes;
         console.log(`starting OAuth flow with: ${initiateFlowURL}`);

         window.open(initiateFlowURL);
         //window.location.href = initiateFlowURL;
      }
   </script>

   <div align=center>
      <div style="width:1000px" align=left>

         <h1>Scoped Tokens for Admins</h1>

         <p>This utility tool helps generate <a href="https://developer.webex.com/docs/integrations#scopes">'scoped'
               tokens</a> for administrators of Webex organisations, using a pre-configured OAuth integration.</p>

         <p>Select scopes and click Start</p>

         <input type="button" value="Start OAuth flow" onclick="start()" />

         <div id='error' style="visibility: none">
            <br />
            <label id='feedback' style="color: red; font-style: italic;"></label>
         </div>

         <label><b><u>'spark-admin' scopes</u></b></label><br/>
         <table>
            <col width="20">
            <col width="480">
            <col width="20">
            <col width="480">
            <tr>
               <td><input type="checkbox" name="scopes[]" value="spark-admin:people_read" /></td>
               <td>spark-admin:people_read<br />
                  <small>Access to read your user's company directory</small>
               </td>
               <td valign="top"><input type="checkbox" name="scopes[]" value="spark-admin:devices_read" /></td>
               <td>spark-admin:devices_read<br />
                  <small>See details for any device in your organization</small>
               </td>
            </tr>
            <tr>
               <td><input type="checkbox" name="scopes[]" value="spark-admin:people_write" /></td>
               <td>spark-admin:people_write<br />
                  <small>Access to write to your user's company directory</small>
               </td>
               <td><input type="checkbox" name="scopes[]" value="spark-admin:devices_write" /></td>
               <td>spark-admin:devices_write<br />
                  <small>Create, update and delete devices and device configurations in your organization</small>
               </td>
            </tr>
            <tr>
               <td><input type="checkbox" name="scopes[]" value="spark-admin:licenses_read" /></td>
               <td>spark-admin:licenses_read<br />
                  <small>Access to read licenses available in your user's organizations</small>
               </td>
               <td><input type="checkbox" name="scopes[]" value="spark-admin:places_read" /></td>
               <td>spark-admin:places_read<br />
                  <small>See details for any places and place service in your organization</small>
               </td>
            </tr>
            <tr>
               <td><input type="checkbox" name="scopes[]" value="spark-admin:organizations_read" /></td>
               <td>spark-admin:organizations_read<br />
                  <small>Access to read your user's organizations</small>
               </td>
               <td><input type="checkbox" name="scopes[]" value="spark-admin:places_write" /></td>
               <td>spark-admin:places_write<br />
                  <small>Create, update and delete any place and place service in your organization</small>
               </td>
            </tr>
            <tr>
               <td><input type="checkbox" name="scopes[]" value="spark-admin:roles_read" /></td>
               <td>spark-admin:roles_read<br />
                  <small>Access to read roles available in your user's organization</small>
               </td>
               <td><input type="checkbox" name="scopes[]" value="spark:xapi_statuses" /></td>
               <td>spark:xapi_statuses<br />
                  <small>Retrieve all information from RoomOS-enabled devices.</small>
               </td>
            </tr>
            <tr>
               <td><input type="checkbox" name="scopes[]" value="spark-admin:resource_group_memberships_read" /></td>
               <td>spark-admin:resource_group_memberships_read<br />
                  <small>Access to read your organization's resource group memberships</small>
               </td>
               <td><input type="checkbox" name="scopes[]" value="spark:xapi_commands" /></td>
               <td>spark:xapi_commands<br />
                  <small>Execute all commands on RoomOS-enabled devices.</small>
               </td>
            </tr>
            <tr>
               <td><input type="checkbox" name="scopes[]" value="spark-admin:resource_group_memberships_write" /></td>
               <td>spark-admin:resource_group_memberships_write<br />
                  <small>Access to update your organization's resource group memberships</small>
               </td>
            </tr>
            <tr>
               <td><input type="checkbox" name="scopes[]" value="spark-admin:resource_groups_read" /></td>
               <td>spark-admin:resource_groups_read<br />
                  <small>Access to read your organization's resource groups</small>
               </td>
            </tr>
            <tr>
               <td><input type="checkbox" name="scopes[]" value="spark-admin:hybrid_clusters_read" /></td>
               <td>spark-admin:hybrid_clusters_read<br />
                  <small>Access to read hybrid clusters for your organization</small>
               </td>
            </tr>
            <tr>
               <td><input type="checkbox" name="scopes[]" value="spark-admin:hybrid_connectors_read" /></td>
               <td>spark-admin:hybrid_connectors_read<br />
                  <small>Access to read hybrid connectors for your organization</small>
               </td>
            </tr>
         </table>

         <br/>
         <% if (local) { %>
            <p><b>Note: this utility is intended for development & testing purposes, and redirects to http://localhost:8080.<br/>
               Production applications should use HTTPS for OAuth redirects.</b></p>
         <% } %>

         <p><i>Brought to you by DevNet - <a href="https://developer.cisco.com">Cisco's Developer Program</a>, check the code: <a href="https://github.com/ObjectIsAdvantag/webex-integration-admin">webex-integration-admin git repo</a></i>   
      </div>
   </div>
</body>

</html>