<!DOCTYPE html>
<html>

<head>
   <title>Scoped Token Issuer</title>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
   <div id="content">
      <h1>Scoped Token Issuer</h1>
      <p>The OAuth flow was successfully completed</p>
      <p>please find your tokens below:
         <ul>
            <li>Access token: <%= accessToken %></li>
            <li>Refresh token: <%= refreshToken %></li>
         </ul>
      </p>
   </div>
</body>

</html>