<!DOCTYPE html>
<html>

<head>
   <title>Scoped Tokens for Admins</title>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
   <div align=center>
      <div style="width:600px" align=left>

         <h1>Scoped Tokens for Admins</h1>

         <p><i>All good: the OAuth flow successfully completed.</i></p>

         <p>Copy your tokens to a safe place, and close this page.</p>

         <h3>Access token</h3>

         <p>The access token below lets you access Webex APIs, in the limits of the scopes chosen in the previous step.
            This token will expire in <%= accessTokenExpires %> days.<br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;token: <input type="text" size="30" id='accessToken' readonly='readonly'
               value=<%= accessToken %> />
            &nbsp;&nbsp;<button onclick="copyAccessToken()"><i>copy</i></button>
         </p>

         <h3>Refresh token</h3>

         <p>The refresh token can be used to issue new access tokens.
            The POST request to generate access tokens is <a
               href="https://developer.webex.com/docs/integrations#getting-an-access-token">documented on 'Webex for
               Developers'</a>.<br>
            <br />
            This token will expire in <%= refreshTokenExpires %> days.<br />
            Note that generating a new access token - with the POST request documented above - will automatically renew
            the lifetime of a refresh token.<br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;token: <input type="text" size="30" id='refreshToken' readonly='readonly'
               value=<%= refreshToken %> />
            &nbsp;&nbsp;<button onclick="copyRefreshToken()"><i>copy</i></button>
         </p>

         <br />
         <% if (local) { %>
            <p><i>Note: this utility is intended for development & testing purposes, and redirects to
               http://localhost:8080.
               Production applications should use HTTPS for OAuth redirects.</i></p>
         <% } %>

      </div>
   </div>

   <script>
      function copyAccessToken() {
         let copyText = document.getElementById("accessToken");
         copyText.select();
         copyText.setSelectionRange(0, 99999); /*For mobile devices*/
         document.execCommand("copy");
      }

      function copyRefreshToken() {
         let copyText = document.getElementById("refreshToken");
         copyText.select();
         copyText.setSelectionRange(0, 99999); /*For mobile devices*/
         document.execCommand("copy");
      }
   </script>

</body>

</html>