<!DOCTYPE html>
<html>

<head>
   <title>Scoped Token Issuer</title>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
   <div align=center>
      <div style="width:600px" align=left>

         <h1>Scoped Token Issuer</h1>
         <p>The OAuth flow was successfully completed:</p>
         <p>
            <ul>
               <li>Access token: <input type="text" size="30" value=<%= accessToken %> /></li>
               <li>Refresh token: <input type="text" size="30" value=<%= refreshToken %></li> </ul> </p> </p> <p>Copy
                  these
                  values to a safe place, and close this page.
         </p>
      </div>
   </div>

</body>

</html>